/*!
page > top > scrollNavigation
------------------------------
*/
.scrollNavigation {
  -webkit-transform: translateX(-50%);
  z-index: 5;
  position: relative;
  bottom: 50px;
  left: 50%;
          transform: translateX(-50%);
}

.scrollNavigation::before {
  -webkit-transform: translateX(-50%);
  -webkit-animation-name: lineMove;
  -webkit-animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  position: absolute;
  top: calc(min(6.6666666667vw, 45px) * -1);
  left: 50%;
  width: min(0.5333333333vw, 4px);
  height: min(14.6666666667vw, 70px);
          transform: translateX(-50%);
  background-color: currentColor;
  content: "";
          animation-duration: 1.6s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-name: lineMove;
}
@-webkit-keyframes lineMove {
  0% {
    height: 0;
  }
  100% {
    height: min(14.6666666667vw, 70px);
  }
}
@keyframes lineMove {
  0% {
    height: 0;
  }
  100% {
    height: min(14.6666666667vw, 70px);
  }
}

.scrollNavigation-inner {
  -webkit-transform: translateX(-50%);
  position: absolute;
  top: calc(min(13.3333333333vw, 80px) * -1);
  left: 50%;
          transform: translateX(-50%);
  color: currentColor;
  font-weight: 700;
}

/*!
page > top > keyVisual
------------------------------
*/
.keyVisual {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.keyVisual-sun {
  -webkit-text-decoration-color: #980000;
  display: block;
  position: absolute;
  top: 10%;
  aspect-ratio: 1/1;
  width: min(60%, 300px);
  color: currentColor;
          text-decoration-color: #980000;
}
.keyVisual-sun:focus {
  text-decoration: none;
}

.keyVisual-sun-inner {
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.keyVisual-star {
  -webkit-text-decoration-color: #980000;
  -webkit-text-decoration-skip-ink: none;
  display: block;
  position: absolute;
  bottom: 10%;
  aspect-ratio: 1/1;
  width: min(45%, 300px);
  color: currentColor;
          text-decoration-color: #980000;
          text-decoration-skip-ink: none;
}
.keyVisual-star:focus {
  text-decoration: none;
}

.keyVisual-star-inner {
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.keyVisual-moon {
  -webkit-text-decoration-color: #980000;
  display: block;
  position: absolute;
  right: 0;
  right: min(4vw, 15px);
  bottom: 10%;
  aspect-ratio: 1/1;
  width: min(40%, 200px);
  color: currentColor;
          text-decoration-color: #980000;
}
.keyVisual-moon:focus {
  text-decoration: none;
}

.keyVisual-moon-inner {
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
  background-color: #FFE599;
}

.keyVisual-moon-inner-text {
  font-weight: 700;
  font-size: clamp(1.25rem, 3.125vw, 2rem);
}

.keyVisual-animationFifth {
  -webkit-animation-name: Fifth;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-duration: 0.6s;
          animation-delay: 5s;
          animation-fill-mode: forwards;
          animation-name: Fifth;
  opacity: 0;
}
@-webkit-keyframes Fifth {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes Fifth {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/*!
page > top > youtubeText
------------------------------
*/
.youtubeText {
  position: relative;
  font-weight: 700;
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
}

.youtubeText::before {
  position: absolute;
  top: -75%;
  left: -5%;
  width: 110%;
  height: 250%;
  content: "";
}

.youtubeText-large {
  display: inline-block;
}

.youtubeText-small {
  display: inline-block;
  font-weight: 400;
  font-size: clamp(0.75rem, 1.6666666667vw, 0.875rem);
}

/*!
page > top > titleArea
------------------------------
*/
.titleArea {
  -webkit-transform: translate(-50%, -50%);
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: min(90%, 700px);
          transform: translate(-50%, -50%);
}

.titleArea-mainTitle {
  position: relative;
  padding-bottom: min(4vw, 15px);
  font-weight: 700;
  font-size: clamp(2.5rem, 8.3333333333vw, 6rem);
  font-family: "M PLUS Rounded 1c";
}

.titleArea-mainTitle-top {
  margin-left: min(10.6666666667vw, 40px);
}

.titleArea-mainTitle-animationFirst {
  -webkit-box-decoration-break: clone;
  -webkit-animation-name: First;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
  display: inline-block;
          box-decoration-break: clone;
          animation-duration: 0.6s;
          animation-fill-mode: forwards;
          animation-name: First;
}
@-webkit-keyframes First {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-image: none;
  }
  50% {
    -webkit-transform: scale(1) rotate(1440deg);
            transform: scale(1) rotate(1440deg);
  }
  95% {
    background-image: none;
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), to(#4A86E8));
    background-image: linear-gradient(to bottom, transparent 75%, #4A86E8 100%);
  }
}
@keyframes First {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-image: none;
  }
  50% {
    -webkit-transform: scale(1) rotate(1440deg);
            transform: scale(1) rotate(1440deg);
  }
  95% {
    background-image: none;
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), to(#4A86E8));
    background-image: linear-gradient(to bottom, transparent 75%, #4A86E8 100%);
  }
}

.titleArea-mainTitle-animationSecond {
  -webkit-box-decoration-break: clone;
  -webkit-animation-name: Second;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  display: inline-block;
          box-decoration-break: clone;
          animation-duration: 0.6s;
          animation-delay: 1s;
          animation-fill-mode: forwards;
          animation-name: Second;
  opacity: 0;
}
@-webkit-keyframes Second {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    background-image: none;
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), to(#4A86E8));
    background-image: linear-gradient(to bottom, transparent 75%, #4A86E8 100%);
    opacity: 1;
  }
}
@keyframes Second {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    background-image: none;
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), to(#4A86E8));
    background-image: linear-gradient(to bottom, transparent 75%, #4A86E8 100%);
    opacity: 1;
  }
}

.titleArea-mainTitle-middle-inner {
  display: inline-block;
  position: relative;
}

.titleArea-mainTitle-balloon {
  -webkit-box-align: center;
      -ms-flex-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -100%;
  right: -90%;
          align-items: center;
          justify-content: center;
  aspect-ratio: 1/1;
  width: min(16vw, 150px);
  border-radius: 50%;
  background-color: #9900FF;
}

.titleArea-mainTitle-balloon::before {
  -webkit-clip-path: polygon(60% 0, 0% 100%, 100% 40%);
  position: absolute;
  bottom: 0;
  left: 0;
  aspect-ratio: 1/1;
  width: min(4vw, 30px);
  background-color: #9900FF;
  content: "";
          clip-path: polygon(60% 0, 0% 100%, 100% 40%);
}

.titleArea-mainTitle-balloon-small {
  margin-top: 6%;
  font-size: clamp(1rem, 3.125vw, 2rem);
}

.titleArea-mainTitle-balloon-large {
  font-size: clamp(1.25rem, 3.90625vw, 3rem);
}

.titleArea-mainTitle-animationThird {
  -webkit-animation-name: Third;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-delay: 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-duration: 0.6s;
          animation-delay: 1.8s;
          animation-fill-mode: forwards;
          animation-name: Third;
  opacity: 0;
}
@-webkit-keyframes Third {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes Third {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.titleArea-subTitle {
  padding-top: min(4vw, 15px);
  border-top: 2px solid #F8F8F8;
  color: #783F04;
  font-size: clamp(1.25rem, 3.90625vw, 3rem);
}

.titleArea-subTitle-animationFourth {
  -webkit-box-decoration-break: clone;
  -webkit-animation-name: Fourth;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-fill-mode: forwards;
  display: inline;
          box-decoration-break: clone;
          animation-duration: 0.6s;
          animation-delay: 3.5s;
          animation-fill-mode: forwards;
          animation-name: Fourth;
  opacity: 0;
}
@-webkit-keyframes Fourth {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to bottom, transparent 75%, rgba(0, 0, 0, 0.5) 100%);
    opacity: 1;
  }
}
@keyframes Fourth {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  95% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: none;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to bottom, transparent 75%, rgba(0, 0, 0, 0.5) 100%);
    opacity: 1;
  }
}

/*!
page > top > aboutTop
------------------------------
*/
.aboutTop {
  margin-top: min(13.3333333333vw, 50px);
}

.aboutTop-image {
  aspect-ratio: 1852/1435;
  width: min(100%, 640px);
  margin-right: auto;
  margin-left: auto;
}

.aboutTop-image-inner {
  -o-object-fit: cover;
  aspect-ratio: 1852/1435;
  width: 100%;
     object-fit: cover;
}

.aboutTop-body {
  margin-top: min(13.3333333333vw, 50px);
}

.aboutTop-body-description {
  font-size: clamp(1rem, 2.4479166667vw, 1.25rem);
  line-height: 1.8;
}
.aboutTop-body-description::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.8) * 0.5em);
  content: "";
}
.aboutTop-body-description::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.8) * 0.5em);
  content: "";
}

/*!
page > top > informationTop
------------------------------
*/
.informationTopList {
  margin-top: min(13.3333333333vw, 50px);
  padding-top: min(5.3333333333vw, 20px);
  padding-right: min(8vw, 30px);
  padding-bottom: min(5.3333333333vw, 20px);
  padding-left: min(8vw, 30px);
  border: 2px solid #4A86E8;
  border-radius: 20px;
  background-color: #FFF;
}

.informationTopList > * + * {
  border-top: 1px dotted #000;
}

.informationTopList-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: min(5.3333333333vw, 20px);
  padding-bottom: min(5.3333333333vw, 20px);
}

.informationTopList-item-title,
.informationTopList-item-inner-title {
  width: 30%;
  font-weight: 700;
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
}

.informationTopList-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.informationTopList-item-inner:first-of-type {
  padding-bottom: min(5.3333333333vw, 20px);
}

.informationTopList-item-inner:not(:first-of-type) {
  padding-top: min(5.3333333333vw, 20px);
  border-top: 1px dotted #000;
}

.informationTopList-item-description,
.informationTopList-item-inner-description {
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
}

/*!
page > top > youtubeArea
------------------------------
*/
.youtubeArea {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  margin-top: min(13.3333333333vw, 50px);
  margin-right: auto;
  margin-left: auto;
}

.youtubeArea-inner {
  -o-object-fit: cover;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
     object-fit: cover;
}

.youtubeArea-buttonArea {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: min(8vw, 30px);
}

.youtubeArea-buttonArea > * + * {
  margin-top: min(5.3333333333vw, 20px);
}

/*!
page > top > panelistTop
------------------------------
*/
.panelistTopList {
  display: grid;
  row-gap: min(10.6666666667vw, 40px);
  margin-top: min(13.3333333333vw, 50px);
}

.panelistTopList-item {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  width: min(100%, 360px);
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  border-radius: 20px;
  background-color: #ABD5E7;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/*!
page > top > accessAreaTop
------------------------------
*/
.accessAreaTop {
  margin-top: min(13.3333333333vw, 50px);
}

.accessAreaTop-map {
  aspect-ratio: 4/3;
  width: min(100%, 600px);
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.accessAreaTop-map-inner {
  aspect-ratio: 4/3;
  width: 100%;
  height: auto;
}

.accessAreaTopList {
  width: min(100%, 500px);
  margin-top: min(13.3333333333vw, 50px);
  margin-right: auto;
  margin-left: auto;
}

.accessAreaTopList > * + * {
  padding-top: min(4vw, 15px);
  border-top: 1px dotted #000;
}

.accessAreaTopList-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accessAreaTopList-item:not(:last-of-type) {
  padding-bottom: min(4vw, 15px);
}

.accessAreaTopList-item-title {
  width: 25%;
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
}

/*!
page > top > programList
------------------------------
*/
.programList {
  padding-top: min(13.3333333333vw, 50px);
}

.programList > * + * {
  padding-top: min(8vw, 30px);
}

.programList-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programList-inner:not(:last-of-type) {
  padding-bottom: min(8vw, 30px);
}

.programList-item-time {
  width: 40%;
  font-weight: 700;
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
}

.programList-item-description {
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
}

.programList-innerColor {
  padding-bottom: min(8vw, 30px);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #CFE2F3), to(#ABD5E7));
  background-image: linear-gradient(to right, #CFE2F3 50%, #ABD5E7 100%);
}

/*!
page > top > lectureArea
------------------------------
*/
.lectureArea-part {
  margin-top: min(5.3333333333vw, 20px);
}

.lectureArea-title {
  margin-top: min(4vw, 15px);
  font-weight: 700;
  font-size: clamp(1rem, 3.125vw, 3rem);
}

.lectureArea-subTitle {
  margin-top: min(1.3333333333vw, 5px);
  font-size: clamp(1rem, 2.1875vw, 1.125rem);
}

.lectureArea-speaker {
  margin-top: min(5.3333333333vw, 20px);
  font-size: clamp(0.875rem, 1.9270833333vw, 1rem);
}

.lectureArea-speaker-name {
  margin-top: min(1.3333333333vw, 5px);
}

/*!
page > top > speakerList
------------------------------
*/
.speakerList {
  margin-top: min(5.3333333333vw, 20px);
}

.speakerList > * + * {
  margin-top: min(1.3333333333vw, 5px);
}

.speakerList-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: clamp(0.875rem, 1.9270833333vw, 1rem);
}

.speakerList-position {
  width: 75%;
}

/*!
page > top > dateText
------------------------------
*/
.dateText {
  position: relative;
  top: -5%;
  left: -5%;
  font-weight: 700;
  font-size: clamp(1.25rem, 3.125vw, 2rem);
}

.dateText::before {
  position: absolute;
  top: -75%;
  left: -5%;
  width: 110%;
  height: 250%;
  content: "";
}

.dateText-small {
  display: inline-block;
  font-size: clamp(1rem, 2.4479166667vw, 1.25rem);
}

/*!
hover
------------------------------
*/
@media (hover: hover) and (pointer: fine) {
  .keyVisual-sun:hover {
    text-decoration: none;
  }

  .keyVisual-star:hover {
    text-decoration: none;
  }

  .keyVisual-moon:hover {
    text-decoration: none;
  }
}

/*!
sp
------------------------------
*/
@media print, screen and (min-width: 768px) {
  .scrollNavigation {
    bottom: 75px;
    left: 2%;
  }

  .scrollNavigation-inner {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
    top: -40px;
    margin-left: 15px;
            writing-mode: vertical-rl;
  }

  .keyVisual {
    height: 800px;
  }

  .keyVisual-star {
    left: 5%;
  }

  .keyVisual-moon {
    right: 5%;
  }

  .titleArea {
    top: 45%;
  }

  .titleArea-mainTitle-balloon {
    top: -50%;
    right: -200%;
  }

  .titleArea-mainTitle-balloon-small {
    margin-top: clamp(0rem, 0.78125vw, 0.625rem);
  }

  .aboutTop-image {
    width: 50%;
    margin: 0;
  }

  .aboutTop-body {
    -ms-flex-item-align: center;
        align-self: center;
    width: 50%;
    margin-top: 0;
    padding-left: 4%;
  }

  .informationTopList-item-title,
  .informationTopList-item-inner-title {
    width: 20%;
    padding-left: 10px;
  }

  .informationTopList-item-inner {
    width: 50%;
  }

  .informationTopList-item-inner:first-of-type {
    padding-bottom: 0;
  }

  .informationTopList-item-inner:not(:first-of-type) {
    padding-top: 0;
    border-top: none;
  }

  .informationTopList-item-inner-title {
    width: 40%;
  }

  .youtubeArea {
    width: min(100%, 940px);
  }

  .youtubeArea-buttonArea > * + * {
    margin-top: 0;
    margin-left: min(8vw, 30px);
  }

  .panelistTopList {
    -webkit-column-gap: min(10.6666666667vw, 40px);
       -moz-column-gap: min(10.6666666667vw, 40px);
    grid-template-columns: repeat(3, 1fr);
            column-gap: min(10.6666666667vw, 40px);
  }

  .accessAreaTop-map {
    width: 60%;
  }

  .accessAreaTopList {
    -ms-flex-item-align: center;
        align-self: center;
    width: 40%;
    margin-top: 0;
    padding-left: 4%;
  }

  .accessAreaTopList-item {
    display: block;
  }

  .accessAreaTopList-item-title {
    width: 100%;
  }

  .programList-item-time {
    width: 20%;
  }

  .programList-item-description {
    width: 80%;
  }

  .lectureArea-part {
    margin-top: 0;
  }

  .lectureArea-speaker-position {
    width: 75%;
  }

  .lectureArea-speaker-name {
    margin-top: 0;
  }
}
/*# sourceMappingURL=index.css.map */