@charset "UTF-8";
/*!
foundation > reset
Use -> A Modern CSS Reset
------------------------------
*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
h5,
h6,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
}

/* Set core root defaults */
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  border: none;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*!
foundation > base
------------------------------
*/
html {
  font-size: 100%;
  overflow-y: scroll;
}

body {
  width: 100%;
  color: #000;
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
  font-size: clamp(0.875rem, 1.9270833333vw, 1rem);
  position: relative;
}

/*!
component > button
------------------------------
*/
.button {
  display: block;
  position: relative;
  width: min(100%, 400px);
  margin-right: auto;
  margin-left: auto;
  padding-right: min(2.6666666667vw, 10px);
  padding-left: min(2.6666666667vw, 10px);
  border: 1px solid #000;
  border-radius: 5px;
  background-color: transparent;
  font-size: clamp(0.875rem, 1.953125vw, 1rem);
  color: #000;
  cursor: pointer;
}

.buttonSubmit {
  margin-top: min(5.3333333333vw, 20px);
  padding-top: min(5.3333333333vw, 20px);
  padding-bottom: min(5.3333333333vw, 20px);
  border: 1px solid #000;
  background-color: #ABD5E7;
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
}
.buttonSubmit:focus {
  border: 1px solid #4A86E8;
  background-color: #FFF;
  color: #4A86E8;
}
@media (hover: hover) and (pointer: fine) {
  .buttonSubmit:hover {
    border: 1px solid #4A86E8;
    background-color: #FFF;
    color: #4A86E8;
  }
}

/*!
component > backToTop
------------------------------
*/
.backToTop-observationPoint {
  position: absolute;
  top: 600px;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: transparent;
}

.backToTop {
  position: fixed;
  z-index: 15;
  right: 25px;
  bottom: 25px;
  width: min(15%, 50px);
  aspect-ratio: 1/1;
  border: 1px solid #FFF;
  border-radius: 50%;
  background-color: #ABD5E7;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.backToTop:focus {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
@media (hover: hover) and (pointer: fine) {
  .backToTop:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

.backToTop::before {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: min(30%, 14px);
  aspect-ratio: 1/1;
  -webkit-clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  background-color: #FFF;
  content: "";
}

.backToTop::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.625rem;
  color: #FFF;
  content: "Top";
}

.backToTop.is-hide {
  opacity: 0;
  visibility: hidden;
}

.backToTop.is-active {
  opacity: 1;
  visibility: visible;
}

/*!
component > hamburger
------------------------------
*/
.hamburger {
  display: inline-block;
  position: absolute;
  z-index: 30;
  top: 50%;
  right: min(4vw, 15px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  aspect-ratio: 1/1;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media print, screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger::before {
  position: absolute;
  top: -75%;
  left: -15%;
  width: 130%;
  height: 250%;
  content: "";
}

.hamburger-line {
  display: block;
  position: absolute;
  z-index: 30;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 2px;
  background-color: #000;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.hamburger-line::before,
.hamburger-line::after {
  display: block;
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, transform 0.5s;
  transition: background-color 0.5s, transform 0.5s, -webkit-transform 0.5s;
  content: "";
}

.hamburger-line::before {
  top: -10px;
}

.hamburger-line::after {
  top: 10px;
}

.hamburger.is-active .hamburger-line {
  background-color: transparent;
}

.hamburger.is-active .hamburger-line::before {
  top: 0;
  background-color: #000;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

.hamburger.is-active .hamburger-line::after {
  top: 0;
  background-color: #000;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.hamburger-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 30;
  width: 100%;
}

.hamburger-text::after {
  font-size: 0.625rem;
  text-align: center;
  color: #000;
  content: "メニュー";
}

.hamburger.is-active .hamburger-text::after {
  color: #000;
  content: "閉じる";
}

/*!
component > logo
------------------------------
*/
.logo {
  position: relative;
  z-index: 10;
  width: clamp(9.0625rem, 20.1822916667vw, 12.5rem);
}

/*!
component > globalNavigation
------------------------------
*/
.globalNavigation {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  text-align: center;
  visibility: hidden;
  -webkit-transition: visibility 0.5s;
  transition: visibility 0.5s;
  overflow-y: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media print, screen and (min-width: 768px) {
  .globalNavigation {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    background-color: transparent;
    visibility: visible;
    overflow-y: visible;
    -ms-scroll-chaining: chained;
        overscroll-behavior: auto;
  }
}

.globalNavigation::-webkit-scrollbar {
  display: none;
}

.globalNavigation.is-active {
  visibility: visible;
}

.globalNavigation-mask {
  position: relative;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: calc(100% + 1px);
  visibility: hidden;
  -webkit-transition: visibility 5s;
  transition: visibility 5s;
  cursor: pointer;
}
@media print, screen and (min-width: 768px) {
  .globalNavigation-mask {
    top: auto;
    left: auto;
    height: auto;
    visibility: visible;
    cursor: auto;
  }
}

.globalNavigation-mask.is-active {
  visibility: visible;
}

.globalNavigation-mask-inner {
  position: absolute;
  z-index: 25;
  top: 0;
  right: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  width: min(75%, 500px);
  height: 100%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #CFE2F3), to(#ABD5E7));
  background-image: linear-gradient(to right, #CFE2F3 50%, #ABD5E7 100%);
  -webkit-transition: visibility 5s, -webkit-transform 0.5s;
  transition: visibility 5s, -webkit-transform 0.5s;
  transition: transform 0.5s, visibility 5s;
  transition: transform 0.5s, visibility 5s, -webkit-transform 0.5s;
  cursor: auto;
}
@media print, screen and (min-width: 768px) {
  .globalNavigation-mask-inner {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    -webkit-transform: none;
            transform: none;
    padding: 0;
    background-color: transparent;
    background-image: none;
  }
}

.globalNavigation-mask-inner.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}

/*!
component > menuList
------------------------------
*/
@media print, screen and (min-width: 768px) {
  .menuList {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media print, screen and (min-width: 768px) {
  .menuList > * + * {
    margin-left: min(3.2vw, 40px);
  }
}

.menuList-itemLink {
  position: relative;
  font-size: clamp(0.875rem, 2.0833333333vw, 1.125rem);
}

.menuList-itemLink::before {
  position: absolute;
  top: -75%;
  left: -5%;
  width: 110%;
  height: 250%;
  content: "";
}

/*!
component > hamburgerMenu
------------------------------
*/
.hamburgerMenu {
  position: relative;
  top: 20%;
}

.hamburgerMenuList > * + * {
  margin-top: min(13.3333333333vw, 50px);
}

.hamburgerMenuList-itemLink {
  font-size: clamp(1.25rem, 3.125vw, 2rem);
}

/*!
component > breadcrumb
------------------------------
*/
.breadcrumb {
  position: relative;
  padding-top: min(5.3333333333vw, 30px);
  padding-bottom: min(5.3333333333vw, 30px);
}

.breadcrumbList > * + * {
  position: relative;
  margin-left: 20px;
}

.breadcrumbList > * + *::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  aspect-ratio: 1/1;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
          clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
  background-color: currentColor;
  content: "";
}

.breadcrumbList-item {
  display: inline-block;
  position: relative;
  font-size: clamp(0.875rem, 1.9270833333vw, 1rem);
}

.breadcrumbList-itemLink {
  position: relative;
  text-decoration: none;
  color: currentColor;
}

.breadcrumbList > * + * span,
.breadcrumbList-item > span {
  vertical-align: top;
}

/*!
component > copyright
------------------------------
*/
.copyright {
  margin-top: min(5.3333333333vw, 20px);
  text-align: center;
}

/*!
component > headingLv2Area
------------------------------
*/
.headingLv2Area {
  text-align: center;
}

.headingLv2Area-text {
  position: relative;
  padding-left: 20px;
  font-size: clamp(1.75rem, 4.1666666667vw, 3rem);
}

.headingLv2Area-text::before {
  position: absolute;
  top: 55%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 1em;
  background-color: #4A86E8;
  content: "";
}

/*!
component > card
------------------------------
*/
.card-image {
  width: min(100%, 360px);
  aspect-ratio: 3/4;
}
@media print, screen and (min-width: 768px) {
  .card-image {
    width: min(100%, 280px);
  }
}

.card-image-inner {
  width: 100%;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  padding-top: min(5.3333333333vw, 20px);
  padding-right: min(8vw, 30px);
  padding-bottom: min(5.3333333333vw, 20px);
  padding-left: min(8vw, 30px);
  border-right: 1px solid #ABD5E7;
  border-bottom: 1px solid #ABD5E7;
  border-left: 1px solid #ABD5E7;
  background-color: #ABD5E7;
}

.card-body-name {
  padding-bottom: min(5.3333333333vw, 20px);
  font-size: clamp(1.25rem, 3.125vw, 2rem);
  font-weight: 700;
}

.card-body-inner {
  width: min(75%, 270px);
  margin-right: auto;
  margin-left: auto;
  padding-top: min(5.3333333333vw, 20px);
  border-top: 1px dotted #000;
}
@media print, screen and (min-width: 768px) {
  .card-body-inner {
    width: 100%;
  }
}

.card-body-inner-comment {
  width: min(75%, 270px);
  margin-right: auto;
  margin-left: auto;
  font-size: clamp(1rem, 2.1875vw, 1.125rem);
}
@media print, screen and (min-width: 768px) {
  .card-body-inner-comment {
    width: min(100%, 170px);
  }
}

/*!
component > hosting
------------------------------
*/
.hosting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: min(100%, 380px);
  margin-right: auto;
  margin-left: auto;
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
}
@media print, screen and (min-width: 768px) {
  .hosting {
    width: 50%;
  }
}

.hosting-title {
  width: 40%;
  font-weight: 700;
}
@media print, screen and (min-width: 768px) {
  .hosting-title {
    width: 20%;
  }
}

/*!
component > query
------------------------------
*/
.query {
  width: min(100%, 380px);
  margin-right: auto;
  margin-left: auto;
  margin-top: min(5.3333333333vw, 20px);
}
@media print, screen and (min-width: 768px) {
  .query {
    width: 50%;
    margin-top: 0;
  }
}

.query-title {
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
  font-weight: 700;
}

.query-item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: min(1.3333333333vw, 5px);
  font-size: clamp(1rem, 2.1875vw, 1.125rem);
}
@media print, screen and (min-width: 768px) {
  .query-item-top {
    margin-top: 0;
  }
}

.query-item-top-name {
  margin-left: min(2.6666666667vw, 10px);
}

.query-item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: clamp(1rem, 2.1875vw, 1.125rem);
}

.query-item-bottom-fax {
  margin-left: min(4vw, 15px);
}

/*!
component > pageBanner
------------------------------
*/
.pageBanner {
  position: relative;
  width: 100%;
  height: 50vh;
  height: 50dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pageBanner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  content: "";
}

/*!
component > headingLv1
------------------------------
*/
.headingLv1 {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: clamp(3rem, 8.3333333333vw, 5rem);
  text-align: center;
}

/*!
component > media
------------------------------
*/
.media {
  position: relative;
  margin-top: min(13.3333333333vw, 50px);
}

.media::before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 55%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #CFE2F3), to(#ABD5E7));
  background-image: linear-gradient(to right, #CFE2F3 50%, #ABD5E7 100%);
  content: "";
}
@media print, screen and (min-width: 768px) {
  .media::before {
    top: 25%;
    left: 25%;
    width: 75%;
    height: 85%;
  }
}

@media print, screen and (min-width: 768px) {
  .mediaReverse::before {
    right: 25%;
    left: auto;
  }
}

.mediaLarge::before {
  top: 30%;
  height: 75%;
}
@media print, screen and (min-width: 768px) {
  .mediaLarge::before {
    top: 25%;
    height: 80%;
  }
}

.media-image {
  width: min(100%, 360px);
  aspect-ratio: 3/4;
  margin-right: auto;
  margin-left: auto;
}
@media print, screen and (min-width: 768px) {
  .media-image {
    width: min(40%, 240px);
  }
}

.media-image-inner {
  width: 100%;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
}

.media-body {
  margin-top: min(8vw, 30px);
}
@media print, screen and (min-width: 768px) {
  .media-body {
    width: 60%;
    margin-top: 8%;
  }
}

@media print, screen and (min-width: 768px) {
  .media-bodyLarge {
    margin-top: 15%;
  }
}

.media-body-name {
  font-size: clamp(1.25rem, 3.6458333333vw, 2.25rem);
  font-weight: 700;
}

.media-body-description {
  margin-top: min(5.3333333333vw, 20px);
  font-size: clamp(1rem, 2.1875vw, 1.125rem);
  line-height: 1.8;
}
.media-body-description::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.8) * 0.5em);
  content: "";
}
.media-body-description::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.8) * 0.5em);
  content: "";
}

/*!
layout > header
------------------------------
*/
.header {
  position: fixed;
  z-index: 15;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.header.is-transparent {
  background-color: transparent;
}

.header.is-color {
  background-color: #ABD5E7;
}

.header-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: min(4vw, 15px);
  padding-left: min(4vw, 15px);
}

.header-observationPoint {
  position: absolute;
  top: min(26.6666666667vw, 100px);
  left: 0;
  width: 1px;
  height: 1px;
  background-color: transparent;
}

/*!
layout > container
------------------------------
*/
.container {
  width: min(100%, 1310px);
  margin-right: auto;
  margin-left: auto;
  padding-right: min(4vw, 15px);
  padding-left: min(4vw, 15px);
}

.containerTight {
  width: min(100%, 940px);
}

.containerSnug {
  width: min(100%, 1140px);
}

/*!
layout > footer
------------------------------
*/
.footer {
  padding-top: min(13.3333333333vw, 50px);
  padding-bottom: min(13.3333333333vw, 50px);
  background-color: #ABD5E7;
}

/*!
layout > section
------------------------------
*/
.section {
  padding-top: min(40vw, 150px);
}

.sectionInformationTop {
  position: relative;
}

.sectionInformationTop::before {
  position: absolute;
  z-index: -1;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #CFE2F3), to(#ABD5E7));
  background-image: linear-gradient(to right, #CFE2F3 50%, #ABD5E7 100%);
  content: "";
}

.sectionAccessTop {
  padding-bottom: min(26.6666666667vw, 100px);
}

.sectionUnder {
  padding-top: min(18.6666666667vw, 70px);
}

.sectionPanelistDetail {
  padding-top: min(26.6666666667vw, 100px);
}

/*!
page > top > scrollNavigation
------------------------------
*/
.scrollNavigation {
  position: relative;
  z-index: 5;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media print, screen and (min-width: 768px) {
  .scrollNavigation {
    left: 2%;
  }
}

.scrollNavigation::before {
  position: absolute;
  top: calc(min(6.6666666667vw, 45px) * -1);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: min(0.5333333333vw, 4px);
  height: min(14.6666666667vw, 70px);
  background-color: currentColor;
  content: "";
  -webkit-animation-name: lineMove;
          animation-name: lineMove;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes lineMove {
  0% {
    height: 0;
  }
  100% {
    height: min(14.6666666667vw, 70px);
  }
}
@keyframes lineMove {
  0% {
    height: 0;
  }
  100% {
    height: min(14.6666666667vw, 70px);
  }
}

.scrollNavigation-inner {
  position: absolute;
  top: calc(min(13.3333333333vw, 80px) * -1);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 700;
  color: currentColor;
}
@media print, screen and (min-width: 768px) {
  .scrollNavigation-inner {
    top: -40px;
    margin-left: 15px;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
}

/*!
page > top > keyVisual
------------------------------
*/
.keyVisual {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media print, screen and (min-width: 768px) {
  .keyVisual {
    height: 800px;
  }
}

.keyVisual-sun {
  display: block;
  position: absolute;
  top: 10%;
  width: min(60%, 300px);
  aspect-ratio: 1/1;
  color: currentColor;
  -webkit-text-decoration-color: #980000;
          text-decoration-color: #980000;
}
.keyVisual-sun:focus {
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  .keyVisual-sun:hover {
    text-decoration: none;
  }
}

.keyVisual-sun-inner {
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.keyVisual-star {
  display: block;
  position: absolute;
  bottom: 10%;
  width: min(45%, 300px);
  aspect-ratio: 1/1;
  color: currentColor;
  -webkit-text-decoration-color: #980000;
          text-decoration-color: #980000;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.keyVisual-star:focus {
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  .keyVisual-star:hover {
    text-decoration: none;
  }
}
@media print, screen and (min-width: 768px) {
  .keyVisual-star {
    left: 5%;
  }
}

.keyVisual-star-inner {
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.keyVisual-moon {
  display: block;
  position: absolute;
  bottom: 10%;
  right: 0;
  right: min(4vw, 15px);
  width: min(40%, 200px);
  aspect-ratio: 1/1;
  color: currentColor;
  -webkit-text-decoration-color: #980000;
          text-decoration-color: #980000;
}
.keyVisual-moon:focus {
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  .keyVisual-moon:hover {
    text-decoration: none;
  }
}
@media print, screen and (min-width: 768px) {
  .keyVisual-moon {
    right: 5%;
  }
}

.keyVisual-moon-inner {
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #FFE599;
  border-radius: 50%;
}

.keyVisual-moon-inner-text {
  font-size: clamp(1.25rem, 3.125vw, 2rem);
  font-weight: 700;
}

.keyVisual-animationFifth {
  opacity: 0;
  -webkit-animation-name: Fifth;
          animation-name: Fifth;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes Fifth {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes Fifth {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*!
page > top > youtubeText
------------------------------
*/
.youtubeText {
  position: relative;
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
  font-weight: 700;
}

.youtubeText::before {
  position: absolute;
  top: -75%;
  left: -5%;
  width: 110%;
  height: 250%;
  content: "";
}

.youtubeText-large {
  display: inline-block;
}

.youtubeText-small {
  display: inline-block;
  font-size: clamp(0.75rem, 1.6666666667vw, 0.875rem);
  font-weight: 400;
}

/*!
page > top > titleArea
------------------------------
*/
.titleArea {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: min(90%, 700px);
}
@media print, screen and (min-width: 768px) {
  .titleArea {
    top: 45%;
  }
}

.titleArea-mainTitle {
  position: relative;
  padding-bottom: min(4vw, 15px);
  font-family: "M PLUS Rounded 1c";
  font-size: clamp(2.5rem, 8.3333333333vw, 6rem);
  font-weight: 700;
}

.titleArea-mainTitle-top {
  margin-left: min(10.6666666667vw, 40px);
}

.titleArea-mainTitle-animationFirst {
  display: inline-block;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  -webkit-animation-name: First;
          animation-name: First;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes First {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-image: none;
  }
  50% {
    -webkit-transform: scale(1) rotate(1440deg);
            transform: scale(1) rotate(1440deg);
  }
  95% {
    background-image: none;
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), to(#4A86E8));
    background-image: linear-gradient(to bottom, transparent 75%, #4A86E8 100%);
  }
}
@keyframes First {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-image: none;
  }
  50% {
    -webkit-transform: scale(1) rotate(1440deg);
            transform: scale(1) rotate(1440deg);
  }
  95% {
    background-image: none;
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), to(#4A86E8));
    background-image: linear-gradient(to bottom, transparent 75%, #4A86E8 100%);
  }
}

.titleArea-mainTitle-animationSecond {
  display: inline-block;
  opacity: 0;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  -webkit-animation-name: Second;
          animation-name: Second;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes Second {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    background-image: none;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), to(#4A86E8));
    background-image: linear-gradient(to bottom, transparent 75%, #4A86E8 100%);
  }
}
@keyframes Second {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    background-image: none;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), to(#4A86E8));
    background-image: linear-gradient(to bottom, transparent 75%, #4A86E8 100%);
  }
}

.titleArea-mainTitle-middle-inner {
  display: inline-block;
  position: relative;
}

.titleArea-mainTitle-balloon {
  display: grid;
  place-items: center;
  position: absolute;
  top: -100%;
  right: -100%;
  width: min(16vw, 150px);
  aspect-ratio: 1/1;
  background-color: #9900FF;
  border-radius: 50%;
}
@media print, screen and (min-width: 768px) {
  .titleArea-mainTitle-balloon {
    top: -50%;
    right: -200%;
  }
}

.titleArea-mainTitle-balloon::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: min(4vw, 30px);
  aspect-ratio: 1/1;
  background-color: #9900FF;
  -webkit-clip-path: polygon(60% 0, 0% 100%, 100% 40%);
          clip-path: polygon(60% 0, 0% 100%, 100% 40%);
  content: "";
}

.titleArea-mainTitle-animationThird {
  opacity: 0;
  -webkit-animation-name: Third;
          animation-name: Third;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes Third {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes Third {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.titleArea-subTitle {
  padding-top: min(4vw, 15px);
  border-top: 2px solid #F8F8F8;
  font-size: clamp(1.25rem, 3.90625vw, 3rem);
  color: #783F04;
}

.titleArea-subTitle-animationFourth {
  display: inline;
  opacity: 0;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  -webkit-animation-name: Fourth;
          animation-name: Fourth;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes Fourth {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to bottom, transparent 75%, rgba(0, 0, 0, 0.5) 100%);
  }
}
@keyframes Fourth {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to bottom, transparent 75%, rgba(0, 0, 0, 0.5) 100%);
  }
}

/*!
page > top > aboutTop
------------------------------
*/
.aboutTop {
  margin-top: min(13.3333333333vw, 50px);
}

.aboutTop-image {
  width: min(100%, 640px);
  aspect-ratio: 1852/1435;
  margin-right: auto;
  margin-left: auto;
}
@media print, screen and (min-width: 768px) {
  .aboutTop-image {
    width: 50%;
    margin: 0;
  }
}

.aboutTop-image-inner {
  width: 100%;
  aspect-ratio: 1852/1435;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutTop-body {
  margin-top: min(13.3333333333vw, 50px);
}
@media print, screen and (min-width: 768px) {
  .aboutTop-body {
    -ms-flex-item-align: center;
        align-self: center;
    width: 50%;
    margin-top: 0;
    padding-left: 4%;
  }
}

.aboutTop-body-description {
  font-size: clamp(1rem, 2.4479166667vw, 1.25rem);
  line-height: 1.8;
}
.aboutTop-body-description::before {
  display: block;
  width: 0;
  height: 0;
  margin-top: calc((1 - 1.8) * 0.5em);
  content: "";
}
.aboutTop-body-description::after {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: calc((1 - 1.8) * 0.5em);
  content: "";
}

/*!
page > top > informationTop
------------------------------
*/
.informationTopList {
  margin-top: min(13.3333333333vw, 50px);
  padding-top: min(5.3333333333vw, 20px);
  padding-right: min(8vw, 30px);
  padding-bottom: min(5.3333333333vw, 20px);
  padding-left: min(8vw, 30px);
  border: 2px solid #4A86E8;
  border-radius: 20px;
  background-color: #FFF;
}

.informationTopList > * + * {
  border-top: 1px dotted #000;
}

.informationTopList-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: min(5.3333333333vw, 20px);
  padding-bottom: min(5.3333333333vw, 20px);
}

.informationTopList-item-title,
.informationTopList-item-inner-title {
  width: 30%;
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
  font-weight: 700;
}
@media print, screen and (min-width: 768px) {
  .informationTopList-item-title,
.informationTopList-item-inner-title {
    width: 20%;
    padding-left: 10px;
  }
}

.informationTopList-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media print, screen and (min-width: 768px) {
  .informationTopList-item-inner {
    width: 50%;
  }
}

.informationTopList-item-inner:first-of-type {
  padding-bottom: min(5.3333333333vw, 20px);
}
@media print, screen and (min-width: 768px) {
  .informationTopList-item-inner:first-of-type {
    padding-bottom: 0;
  }
}

.informationTopList-item-inner:not(:first-of-type) {
  border-top: 1px dotted #000;
  padding-top: min(5.3333333333vw, 20px);
}
@media print, screen and (min-width: 768px) {
  .informationTopList-item-inner:not(:first-of-type) {
    border-top: none;
    padding-top: 0;
  }
}

@media print, screen and (min-width: 768px) {
  .informationTopList-item-inner-title {
    width: 40%;
  }
}

.informationTopList-item-description,
.informationTopList-item-inner-description {
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
}

/*!
page > top > youtubeArea
------------------------------
*/
.youtubeArea {
  width: min(100%, 560px);
  aspect-ratio: 16/9;
  margin-right: auto;
  margin-left: auto;
}

.youtubeArea-inner {
  width: 100%;
  aspect-ratio: 16/9;
  margin-top: min(13.3333333333vw, 50px);
}

/*!
page > top > panelistTop
------------------------------
*/
.panelistTopList {
  display: grid;
  row-gap: min(10.6666666667vw, 40px);
  margin-top: min(13.3333333333vw, 50px);
}
@media print, screen and (min-width: 768px) {
  .panelistTopList {
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: min(10.6666666667vw, 40px);
       -moz-column-gap: min(10.6666666667vw, 40px);
            column-gap: min(10.6666666667vw, 40px);
  }
}

.panelistTopList-item {
  width: min(100%, 360px);
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #ABD5E7;
}

/*!
page > top > accessAreaTop
------------------------------
*/
.accessAreaTop {
  margin-top: min(13.3333333333vw, 50px);
}

.accessAreaTop-map {
  width: min(100%, 600px);
  aspect-ratio: 4/3;
  margin-right: auto;
  margin-left: auto;
}
@media print, screen and (min-width: 768px) {
  .accessAreaTop-map {
    width: 60%;
  }
}

.accessAreaTop-map-inner {
  width: 100%;
  aspect-ratio: 4/3;
}

.accessAreaTopList {
  width: min(100%, 500px);
  margin-top: min(13.3333333333vw, 50px);
  margin-right: auto;
  margin-left: auto;
}
@media print, screen and (min-width: 768px) {
  .accessAreaTopList {
    width: 40%;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 0;
    padding-left: 4%;
  }
}

.accessAreaTopList > * + * {
  padding-top: min(4vw, 15px);
  border-top: 1px dotted #000;
}

.accessAreaTopList-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media print, screen and (min-width: 768px) {
  .accessAreaTopList-item {
    display: block;
  }
}

.accessAreaTopList-item:not(:last-of-type) {
  padding-bottom: min(4vw, 15px);
}

.accessAreaTopList-item-title {
  width: 25%;
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
}
@media print, screen and (min-width: 768px) {
  .accessAreaTopList-item-title {
    width: 100%;
  }
}

/*!
page > top > programList
------------------------------
*/
.programList {
  padding-top: min(26.6666666667vw, 100px);
}

.programList > * + * {
  padding-top: min(8vw, 30px);
}

.programList-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programList-inner:not(:last-of-type) {
  padding-bottom: min(8vw, 30px);
}

.programList-item-time {
  width: 40%;
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
  font-weight: 700;
}
@media print, screen and (min-width: 768px) {
  .programList-item-time {
    width: 20%;
  }
}

.programList-item-description {
  font-size: clamp(1rem, 2.34375vw, 1.5rem);
}
@media print, screen and (min-width: 768px) {
  .programList-item-description {
    width: 80%;
  }
}

.programList-innerColor {
  padding-bottom: min(8vw, 30px);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #CFE2F3), to(#ABD5E7));
  background-image: linear-gradient(to right, #CFE2F3 50%, #ABD5E7 100%);
}

/*!
page > top > lectureArea
------------------------------
*/
.lectureArea-part {
  margin-top: min(5.3333333333vw, 20px);
}
@media print, screen and (min-width: 768px) {
  .lectureArea-part {
    margin-top: 0;
  }
}

.lectureArea-title {
  margin-top: min(4vw, 15px);
  font-size: clamp(1rem, 3.125vw, 3rem);
  font-weight: 700;
}

.lectureArea-subTitle {
  margin-top: min(1.3333333333vw, 5px);
  font-size: clamp(1rem, 2.1875vw, 1.125rem);
}

.lectureArea-speaker {
  margin-top: min(5.3333333333vw, 20px);
  font-size: clamp(0.875rem, 1.9270833333vw, 1rem);
}

@media print, screen and (min-width: 768px) {
  .lectureArea-speaker-position {
    width: 75%;
  }
}

.lectureArea-speaker-name {
  margin-top: min(1.3333333333vw, 5px);
}
@media print, screen and (min-width: 768px) {
  .lectureArea-speaker-name {
    margin-top: 0;
  }
}

/*!
page > top > speakerList
------------------------------
*/
.speakerList {
  margin-top: min(5.3333333333vw, 20px);
}

.speakerList > * + * {
  margin-top: min(1.3333333333vw, 5px);
}

.speakerList-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: clamp(0.875rem, 1.9270833333vw, 1rem);
}

.speakerList-position {
  width: 75%;
}

/*!
page > top > dateText
------------------------------
*/
.dateText {
  position: relative;
  top: -5%;
  left: -5%;
  font-size: clamp(1.25rem, 3.125vw, 2rem);
  font-weight: 700;
}

.dateText::before {
  position: absolute;
  top: -75%;
  left: -5%;
  width: 110%;
  height: 250%;
  content: "";
}

.dateText-small {
  display: inline-block;
  font-size: clamp(1rem, 2.4479166667vw, 1.25rem);
}

/*!
page > panelist > panelistList
------------------------------
*/
.panelist {
  padding-top: min(18.6666666667vw, 70px);
}

.panelistList {
  padding-top: min(8vw, 60px);
  padding-right: min(8vw, 60px);
  padding-bottom: min(8vw, 60px);
  padding-left: min(8vw, 60px);
  border: 2px solid #4A86E8;
  border-radius: 20px;
}

.panelist-List-announce {
  font-size: clamp(1.25rem, 3.125vw, 2rem);
}

.panelistList-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: min(5.3333333333vw, 30px);
  -webkit-column-gap: min(5.3333333333vw, 30px);
     -moz-column-gap: min(5.3333333333vw, 30px);
          column-gap: min(5.3333333333vw, 30px);
  margin-top: min(5.3333333333vw, 40px);
}
@media print, screen and (min-width: 768px) {
  .panelistList-inner {
    padding-left: 15%;
  }
}

.panelistList-inner-item {
  font-size: clamp(1rem, 2.4479166667vw, 1.5rem);
  font-weight: 700;
}

.panelist-List-comment {
  margin-top: min(5.3333333333vw, 40px);
}

/*!
page > panelist > panelistDetailList
------------------------------
*/
.panelistDetailList {
  margin-top: min(26.6666666667vw, 100px);
  margin-bottom: min(53.3333333333vw, 200px);
}

.panelistDetailList > * + * {
  margin-top: min(40vw, 150px);
}

/*!
utility > hover
------------------------------
*/
.Link {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  text-decoration: none;
  color: currentColor;
}
.Link:focus {
  opacity: 0.7;
}
@media (hover: hover) and (pointer: fine) {
  .Link:hover {
    opacity: 0.7;
  }
}

/*!
utility > utility
------------------------------
*/
@media print, screen and (min-width: 768px) {
  .OnlySp {
    display: none;
  }
}

.OnlyPc {
  display: none;
}
@media print, screen and (min-width: 768px) {
  .OnlyPc {
    display: block;
  }
}

.OnlyPcFlex {
  display: none;
}
@media print, screen and (min-width: 768px) {
  .OnlyPcFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.FlexPc {
  display: block;
}
@media print, screen and (min-width: 768px) {
  .FlexPc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.FlexReversePc {
  display: block;
}
@media print, screen and (min-width: 768px) {
  .FlexReversePc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.TextCenter {
  text-align: center;
}

.TextRight {
  text-align: right;
}

.FontItalic {
  font-style: italic;
  color: #980000;
}

.ColorRed {
  color: #980000;
}

.ColorOrange {
  color: #FF9900;
}

.ColorYellow {
  color: #FFE599;
}

.ColorGreen {
  color: #93C47D;
}

.ColorBlue {
  color: #0000FF;
}

.ColorIndigoBlue {
  color: #1155CC;
}

.ColorPurpleOuter {
  color: #FFF;
}

.InlineBlock {
  display: inline-block;
}

.UnderLine {
  text-decoration: underline;
}

.FontWeightBold {
  font-weight: 700;
}

.Is-Out {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.Is-In {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.5s, visibility 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s, -webkit-transform 0.5s;
}