@use "../../global" as *; //アスタリスクをつけてglobalフォルダから参照

/*!
page > top > youtubeArea
------------------------------
*/
.youtubeArea {
  width: min(100%, 560px);
  aspect-ratio: 16 / 9;
  margin-right: auto;
  margin-left: auto;
}

.youtubeArea-inner {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: min(vw(50), 50px);
}