// 色の変数定義
$Dark-Red: #980000;
$Orange-Peel: #FF9900;
$Cream-Brulee: #FFE599;
$Gossip: #93C47D;
$Blue: #0000FF;
$Denim: #1155CC;
$Electric-Purple: #9900FF;
$Raw-Umber: #783F04;
$Light-Blue: #ABD5E7;
$White-Smoke: #F8F8F8;
$Cornflower-Blue: #4A86E8;
$Light-Blue-gradation: to right, #CFE2F3 50%, #ABD5E7 100%;
$Cornflower-Blue-gradation: to bottom, transparent 75%, #4A86E8 100%;
$Black-gradation: to bottom, transparent 75%, rgba(#000, .5) 100%;