@use "../global" as *; //アスタリスクをつけてglobalフォルダから参照

/*!
component > button
------------------------------
*/
.button {
  display: block;
  position: relative;
  width: min(100%, 400px);
  margin-right: auto;
  margin-left: auto;
  padding-right: min(vw(10), 10px);
  padding-left: min(vw(10), 10px);
  border: 1px solid #000;
  border-radius: 5px;
  background-color: transparent;
  font-size: clampVw(14, 15, 16, 768);
  color: #000;
  cursor: pointer;
}

.buttonArrowRight {
  position: relative;
  padding-right: min(vw(16), 1em);
  padding-left: min(vw(16), 1em);

  @include hover {
    &::after {
      transform: translate(0, -50%) rotate(-45deg);
    }
  }
}

.buttonArrowRightSecond {
  @include hover {
    &::after {
      border-right: 3px solid $Cornflower-Blue;
      border-bottom: 3px solid $Cornflower-Blue;
    }
  }
}

.buttonArrowRightFirst {
  @include hover {
    &::after {
      border-right: 3px solid $Dark-Red;
      border-bottom: 3px solid $Dark-Red;
    }
  }
}

.buttonArrowRight::after {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translate(-100%, -50%) rotate(-45deg);
  width: 10px;
  aspect-ratio: 1 / 1;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  transition: transform .3s, border .3s;
  content: "";
}

.buttonYoutube {
  z-index: 5;
  padding-top: min(vw(20), 20px);
  padding-bottom: min(vw(20), 20px);
  border: none;
  border-radius: 20px;
  background-image: linear-gradient($Light-Blue-gradation);
  font-size: clampVw(16, 18, 24, 768);
  transition: border .3s, background-color .3s, color .3s;
}

.buttonYoutubeSecond {
  background-image: linear-gradient($Light-Blue-gradation);

  @include hover {
    background-image: none;
    color: $Cornflower-Blue;
  }
}

.buttonYoutubeFirst {
  background-image: linear-gradient($Orange-Peel-gradation);

  @include hover {
    background-image: none;
    color: $Dark-Red;
  }
}

.buttonYoutube-inner {
  padding-right: 1em;
  font-weight: 700;
}