@use "../global" as *; //アスタリスクをつけてglobalフォルダから参照

/*!
component > logo
------------------------------
*/
.logo {
  position: relative;
  z-index: 10;
  width: clampVw(200, 280, 398, 768);
  aspect-ratio: 398 / 41;
}