@use "../global" as *; //アスタリスクをつけてglobalフォルダから参照

/*!
component > media
------------------------------
*/
.media {
  position: relative;
  margin-top: min(vw(50), 50px);
}

.media::before {
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 0;
  width: 100%;
  height: 65%;
  background-image: linear-gradient($Light-Blue-gradation);
  content: "";

  @include responsive(md) {
    top: 25%;
    left: 25%;
    width: 75%;
    height: 85%;
  }
}

.mediaReverse::before {
  @include responsive(md) {
    right: 25%;
    left: auto;
  }
}

.mediaLarge::before {
  // top: 24%;
  // height: 79%;
  top: 25%;
  height: 80%;

  @include responsive(md) {
    top: 25%;
    height: 80%;
  }
}

.media-image {
  width: min(100%, 360px);
  aspect-ratio: 1 / 1;
  margin-right: auto;
  margin-left: auto;

  @include responsive(md) {
    width: min(40%, 240px);
    aspect-ratio: 3 / 4;
  }
}

.media-image-inner {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;

  @include responsive(md) {
    aspect-ratio: 3 / 4;
  }
}

.media-body {
  margin-top: min(vw(30), 30px);

  @include responsive(md) {
    width: 60%;
    margin-top: 8%;
  }
}

.media-bodyLarge {
  @include responsive(md) {
    margin-top: 15%;
  }
}

.media-body-name {
  font-size: clampVw(20, 28, 36, 768);
  font-weight: 700;
}

.media-body-description {
  margin-top: min(vw(20), 20px);
  font-size: clampVw(16, 16.8, 18, 768);
  line-height: 1.8;
  @include lineHeightCrop(1.8);
}