@use "../global" as *; //アスタリスクをつけてglobalフォルダから参照

/*!
component > pageBanner
------------------------------
*/
.pageBanner {
  position: relative;
  width: 100%;
  height: 50vh;
  height: 50dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pageBanner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#FFF, .5);
  content: "";
}