@use "../../global" as *; //アスタリスクをつけてglobalフォルダから参照

/*!
page > top > informationTop
------------------------------
*/
.informationTopList {
  margin-top: min(vw(50), 50px);
  padding-top: min(vw(20), 20px);
  padding-right: min(vw(30), 30px);
  padding-bottom: min(vw(20), 20px);
  padding-left: min(vw(30), 30px);
  border: 2px solid $Cornflower-Blue;
  border-radius: 20px;
  background-color: #FFF;
}

.informationTopList > * + * {
  border-top: 1px dotted #000;
}

.informationTopList-item {
  display: flex;
  padding-top: min(vw(20), 20px);
  padding-bottom: min(vw(20), 20px);
}

.informationTopList-item-title {
  width: 30%;
  font-size: clampVw(16, 18, 24, 768);
  font-weight: 700;

  @include responsive(md) {
    width: 20%;
    padding-left: 10px;
  }
}

.informationTopList-item-left {
  padding-bottom: min(vw(20), 20px);

  @include responsive(md) {
    width: 50%;
    padding-bottom: 0;
  }
}

.informationTopList-item-right {
  border-top: 1px dotted #000;
  padding-top: min(vw(20), 20px);

  @include responsive(md) {
    width: 50%;
    border-top: none;
    padding-top: 0;
  }
}

.informationTopList-item-description {
  font-size: clampVw(16, 18, 24, 768);
}